/*style pessoal para a malta fazer coisas fixes*/
/*
 * Created by lizard squad
 * 04/05/2016
 */

/*Getting fonts from google*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
    background-color: #f2f2f2;
}
a {text-decoration: none;}
/*image logo container*/
.logo-img {width: 45px; padding-top: 2px; transition: .2s all ease;}
.logo-img:hover {-webkit-filter: brightness(110%);}
.img-away-left {margin-left: 10px;}

.navbar-text {font-family: 'Montserrat', sans-serif; font-size: 13px;}
.navbar-text-aux {color: white;}

.navbar-effect a {-webkit-transition-property:color, text;
-webkit-transition-duration: .15s, .15s;
-webkit-transition-timing-function: linear, ease-in;
-moz-transition-property:color, text;
-moz-transition-duration:1s;
-moz-transition-timing-function: linear, ease-in;

-o-transition-property:color, text;
-o-transition-duration:1s;
-o-transition-timing-function: linear, ease-in;}


.navbar-text-data { margin-top: 15px; margin-bottom: 15px; color: white;}
@media (min-width: 768px) {
  .navbar-text-data {float: left; margin-right: 15px; margin-left: 5px;}

}

.myExitButton {color: #fff; }
.myExitButton:hover {color:white; }

/*navmenu*/
.navmenu {background: #333333; margin-top: -20px; height:40px;}

@media screen and (min-width: 1200px) {
.navmenu {padding-left: 10%;}
}
@media screen and (min-width: px) {

.navmenu {padding-left: 0;}
}
@media screen and (max-width: 768px) {
  .container{
    padding: 0;
  }

}

/*MENU*/
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.navbar {margin-right: px;}

.dropdown-menu i{font-size: 12px; }
/*END MENU*/





/* MAIN */


/* BLUR*/

.blur-in {
    -webkit-animation: blur 0.5s forwards;
    -moz-animation: blur 0.5s forwards;
    -o-animation: blur 0.5s forwards;
    animation: blur 0.5s forwards;
}

.blur-out {
    -webkit-animation: blur-out 0.5s forwards;
    -moz-animation: blur-out 0.5s forwards;
    -o-animation: blur-out 0.5s forwards;
    animation: blur-out 0.5s forwards;
}

@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-moz-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-o-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-moz-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-o-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}


.adminbg{
  background-color: #eee;
}
.container{
  margin-top: 1%;
}

.panelheading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #4D4D4D;
  color: floralwhite;
}

.panel-body p
{
    color: #0071BC;

}
 /* END MAIN*/
/*banner*/
.slide1{
    background-image: url('../img/banner6.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .slide2{
    background-image: url('../img/banner8.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .slide3{
    background-image: url('../img/banner4.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
@media only screen and (min-width: 350px) {
    .col-sm-4 {text-align: center; margin-top: 20px;}
    .logo {font-size: 170px;}
    .image-responsive {height: auto;display:block; margin: auto;}
  }
    @media only screen and (min-width: 768px) {
    .col-sm-4 {text-align: center; margin-top: 130px;}
    .logo {font-size: 230px;}
  }
    @media only screen and (min-width: 998px) {
    .col-sm-4 {text-align: center; margin-top: 50px;}
    .logo {font-size: 300px;}
  }
#theCarousel {margin-top: -20px;}

.adminleft
{
    float: left;
    width:80%;
}
.adminright
{
    float: right;
    width: 20%;
}
/*end banner*/
/*icons destaque*/
@media only screen and (min-width: 350px) {
    .highlight-icon {font-size: 30px; color: #0071BC; vertical-align: middle;}
    .icons {margin-top: 100px;}
    .iconTitle {font-size: 35px;padding:25px 0 25px 0; vertical-align: middle;}
    .iconTextSpace {padding:0 15px 0 15px;}
}
@media only screen and (min-width: 768px) {
    .highlight-icon {font-size: 35px; color: #0071BC; vertical-align: middle;}
    .icons {margin-top: 100px;}
    .iconTitle {font-size: 40px;padding:25px 0 25px 0; vertical-align: middle;}
    .iconTextSpace {padding:0 100px 0 100px;}
}
@media only screen and (min-width: 998px) {
    .highlight-icon {font-size: 35px; color: #0071BC; vertical-align: middle;}
    .icons {margin-top: 90px;}
    .iconTitle {font-size: 30px;padding:25px 0 25px 0; vertical-align: middle;}
    .iconTextSpace {padding:0 15px 0 15px;}
}
@media only screen and (min-width: 1200px) {
    .highlight-icon {font-size: 40px; color: #0071BC; vertical-align: middle;}
    .icons {margin-top: 100px;}
    .iconTitle {font-size: 35px;padding:25px 0 25px 0; vertical-align: middle;}
    .iconTextSpace {padding:0 15px 0 15px;}

}
/* end icons destaque*/

.navbar-white{
  background-color: white;
  box-shadow: 10px 0px 10px grey;
  z-index: 20;
}
.navbar-white .navbar-text {
  color: #0071BC;
}
.navbar-white .navbar-nav > li > a {
  color: #0071BC;
}
.altitude {
    box-shadow: 1px 5px 5px -2px #dedede;
    padding-top: 10px;
    padding-bottom: 10px;

}
.hr-dropdown {
    background: #4D4D4D; height:1px; margin-top: -10px;
}
.bt{
    background-color: #fff;
    width: 30%;
    margin: auto;
    height: 40px;
    line-height: 40px;
    color: #0071BC;
    border: 1px solid #0071BC;
    transition: border-color .2s ease;
    transition: .2s all ease;
}
.bt:hover{
    background-color: #0071BC;
    color: #fff;
    cursor: pointer;
    transition: border-color .2s ease;
    transition: .2s all ease;
}
.active{
    background-color: #0071BC;
    color: #fff;  
}
.form-registo{
    background-color: #fff;
    color: #0071BC;
    width: 75%;
    margin: auto;
    margin-top: 1%;
    text-align: center;

    border: 1px solid #0071BC;
}