/*style pessoal para a malta fazer coisas fixes*/
/*
 * Created by lizard squad
 * 04/05/2016
 */

/*Getting fonts from google*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

a {text-decoration: none;}
/*image logo container*/
.logo-img {width: 45px; padding-top: 2px; transition: .2s all ease;}
.logo-img:hover {-webkit-filter: brightness(110%);}
.img-away-left {margin-left: 10px;}

.navbar-text {font-family: 'Montserrat', sans-serif; font-size: 13px;}
.navbar-text-aux {color: white;}

.navbar-effect a {-webkit-transition-property:color, text;
-webkit-transition-duration: .15s, .15s;
-webkit-transition-timing-function: linear, ease-in;
-moz-transition-property:color, text;
-moz-transition-duration:1s;
-moz-transition-timing-function: linear, ease-in;

-o-transition-property:color, text;
-o-transition-duration:1s;
-o-transition-timing-function: linear, ease-in;}


.navbar-text-data { margin-top: 15px; margin-bottom: 15px; color: white;}
@media (min-width: 768px) {
  .navbar-text-data {float: left; margin-right: 15px; margin-left: 5px;}
}

.myExitButton {color: #fff; }
.myExitButton:hover {color:white; }

/*navmenu*/
.navmenu {background: #333333; margin-top: -20px; height:40px;}

@media screen and (min-width: 1200px) {

.navmenu {padding-left: 10%;}
}
@media screen and (min-width: px) {

.navmenu {padding-left: 0;}
}


/*MENU*/
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.navbar {margin-right: px;}

.dropdown-menu i{font-size: 12px; }

/*END MENU*/

/* MAIN */
.container{
  margin-top: 1%;
}

.panelheading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #4D4D4D;
  color: floralwhite;
}

.panel-body p
{
    color: #0071BC;

}
 /* END MAIN*/
/*banner*/
.slide1{
    background-image: url('../img/banner1.png');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .slide2{
    background-image: url('../img/banner2.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .slide3{
    background-image: url('../img/banner3.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
@media only screen and (min-width: 350px) {
    .col-sm-4 {text-align: center; margin-top: 20px;}
    .logo {font-size: 170px;}
    .image-responsive {height: auto;display:block; margin: auto;}
  }
    @media only screen and (min-width: 768px) {
    .col-sm-4 {text-align: center; margin-top: 130px;}
    .logo {font-size: 230px;}
  }
    @media only screen and (min-width: 998px) {
    .col-sm-4 {text-align: center; margin-top: 50px;}
    .logo {font-size: 300px;}
  }
#theCarousel {margin-top: -20px;}

.adminleft
{
    float: left;
    width:80%;
}
.adminright
{
    float: right;
    width: 20%;
}
 /* END MAIN*/
